<div class="modal fade" id='{{idName}}' role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" ng-class="width">
        <div class="modal-content ias-modal-content" draggable>
            <div class="modal-header ias-modal-header">
                <h5 class="modal-title ias-modal-title" id="myModalLabel">{{title}}</h5>
            </div>
            <div class="modal-body ias-modal-body" ng-transclude=""></div>
            <div class="modal-footer ias-modal-footer">
                <button type="button"   ng-click="confirm()">{{conBtnName}}</button><!--
             --><button type="button" class="ias-dismiss-btn" ng-click="dismiss()">取消</button>
            </div>
        </div>
    </div>
</div>