<div class="statement-wrap" style="margin-top:-28px;height: 24px;margin-left:430px;">
    <input ng-hide="isValuationInCurTab()" readonly="readonly" class="ias-date-input" datetimepicker config="endTodayTimePickerConfig"
           change-date-handler="IncomeStatementListDateChange()" ng-model="selectedDate.startDate">
    <ias-select ng-show="isValuationInCurTab()" options="valuationDates.options" ng-model="selectedDate.startDate" change-handle="IncomeStatementListDateChange()" width="120px"></ias-select>
    <label>至</label>
    <input ng-hide="isValuationInCurTab()" readonly="readonly" class="ias-date-input" datetimepicker config="endTodayTimePickerConfig"
           change-date-handler="IncomeStatementListDateChange()" ng-model="selectedDate.endDate">
    <ias-select ng-show="isValuationInCurTab()" options="valuationDates.options" ng-model="selectedDate.endDate" change-handle="IncomeStatementListDateChange()" width="120px"></ias-select>

    <label class="ias-control-label" style="margin-left: 20px" ng-if="false">
        <label class="checkbox-normal" ng-class="{true:'checkbox-checked',false:'checkbox-normal'}[statementInitialData.IsZeroPosition]">
            <input style="opacity: 0" type="checkbox" ng-model="statementInitialData.IsZeroPosition" ng-change="" ng-disabled="true">
        </label>
        查看零持仓
    </label>
    <label style="margin-left: 10px">类型：</label>
    <select ng-disabled="isLoading" ng-change="shangeAseetType(statementInitialData.statementAssetType)" ng-model="statementInitialData.statementAssetType">
        <option value="all">全部</option>
        <option value="bond">债券</option>
        <option value="fund">基金</option>
        <option value="money">资金</option>
    </select>
    <label ng-show="statementInitialData.caculationTypeIsShow" style="margin-left: 10px">成本计算方式：
        <select style="width: 105px" ng-model="statementInitialData.calculationMethod" ng-options="content.label for content in statementInitialData.caculationTypes" ng-change ="getIncomeStatementListData()">
        </select>
    </label>
    <label class="checkbox-normal" ng-class="{true:'checkbox-checked',false:'checkbox-normal'}[statementInitialData.isCostReset]">
        <input type="checkbox" ng-model="statementInitialData.isCostReset" ng-change="getIncomeStatementListData()">期初成本重置
    </label>
    <button style="float:right;margin-right:10px;" ng-click="onExportData()">导出</button>
</div>
<!-- <div ng-show="false">
    <select style="margin-left:10px;width:100px" ng-model="statementInitialData.firstFilter"
            ng-options="typeOption1.label for typeOption1 in statementInitialData.filterParams" ng-change ="getIncomeStatementListData()" >
        <option value="">一级分类</option>
    </select>
    <label ng-show="statementInitialData.secondFilterIsShow">
        <select style="width:100px" ng-model="statementInitialData.secondFilter"
                ng-options="content.label for content in statementInitialData.firstFilter.contents" ng-change ="getIncomeStatementListData()">
            <option value="">二级分类</option>
        </select>
    </label>
    <button ng-click="getIncomeStatementListData()">确定</button>
</div> -->
<div right-context-menu="threadSetting" grid-name="performance_statement" ng-show="statementInitialData.statementAssetType=='bond'">
    <div class="absolute-panel account-attribution-panel" style="top:80px">
        <div class="grid ias-ui-grid absolute-panel" ui-grid="gridOptions" style="padding-bottom: 24px;"
             ui-grid-auto-resize ui-grid-exporter ui-grid-save-state ui-grid-selection  ui-grid-resize-columns ui-grid-move-columns>
        </div>
    </div>
</div>
<div class="absolute-panel account-attribution-panel" ng-show="statementInitialData.statementAssetType=='all'" style="top:80px">
    <div class="grid ias-ui-grid absolute-panel" ui-grid="gridOptionsAll" style="padding-bottom: 24px;"
         ui-grid-auto-resize ui-grid-exporter ui-grid-save-state ui-grid-selection  ui-grid-resize-columns ui-grid-move-columns>
    </div>
</div>
<div class="absolute-panel account-attribution-panel" ng-show="statementInitialData.statementAssetType=='fund'" style="top:80px">
    <div class="grid ias-ui-grid absolute-panel" ui-grid="gridOptionsFund" style="padding-bottom: 24px;"
         ui-grid-auto-resize ui-grid-exporter ui-grid-save-state ui-grid-selection  ui-grid-resize-columns ui-grid-move-columns>
    </div>
</div>
<div class="absolute-panel account-attribution-panel" ng-show="statementInitialData.statementAssetType=='money'" style="top:80px">
    <div class="grid ias-ui-grid absolute-panel" ui-grid="gridOptionsMoney" style="padding-bottom: 24px;"
         ui-grid-auto-resize ui-grid-exporter ui-grid-save-state ui-grid-selection  ui-grid-resize-columns ui-grid-move-columns>
    </div>
</div>
<div class="account-amount-data" style="height: 26px;line-height: 26px">
    <div>资产总数：<span style="color: #f9c66e">{{statementInitialData.allAssetNumber - 1}}</span> 笔</div>
</div>
