

.comparison-header {
    margin: 2px 0;
    height: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #232629;
    box-shadow: 2px 0px 2px #000;
}

.comparison-header > .accounts {
    display: flex;
}

.comparison-body {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
}

.comparison-body .grid-boundary {
    border-right: 1px solid #5d5d5d;
}