app/**/*.js

public/**/*.js
config/**/*.js

build.avalonui2.js

src/account/**/*.js
!src/account/trade/**/*.js
!src/account/marketRisk/**/*.js

src/common/**/*.js

src/system/**/*.js
!src/system/service/*.js
!src/system/component/*.js

src/manager/marketGrid.js
