<div>
    <div class="ias-form-group" ng-show="trade.show_alert">
        <label class="ias-warning">{{ trade.alert_content }}</label>
    </div>
    <div class="ias-form-group">
        <label class="ias-control-label">方向：</label>
        <btn-li-group btn-group="directionGroup" is_disabled="!showBtnList" ng-model="trade.direction" change-btn="trade.directionChanged()"></btn-li-group>
    </div>
    <div class="ias-form-group">
        <label class="ias-control-label ias-required-field">本方账户：</label>
        <select class="ias-163-select" ng-model="trade.account_id" ng-disabled="!showBtnList"
                ng-options="account.id as account.name for account in myAccounts | filter:getEditAccount"
                ng-change="accountChanged(trade.account_id)">
        </select>
        <div class="ias-offset-1-3">
            <label class="ias-control-label">发生日期：</label>
            <input readonly="readonly" type="text" class="ias-date-input" datetimepicker config="timePickerConfig" ng-model="trade.pledge_date" ng-change="getExchangePledgeBonds(trade.account_id)">
        </div>
    </div>
    <div class="ias-form-group">
        <label class="ias-control-label">标的：</label>
        <select class="ias-163-select" ng-model="trade.select"
                ng-options="bond as bond.bond_code for bond in exchangePledgeBonds"
                ng-change="trade.bondChanged()">
            <option value="">--请选择--</option>
        </select>
    </div>
    <div class="ias-form-group">
        <label class="ias-control-label">代码：</label>
        <label class="ias-info-label">{{trade.bond_code }}</label>
        <div class="ias-offset-1-2">
            <label class="ias-control-label">简称：</label>
            <label class="ias-info-label">{{ trade.short_name }}</label>
        </div>
    </div>
    <div class="ias-form-group">
        <label class="ias-control-label ias-required-field">量(张)：</label>
        <input limit-format-number regexp-str="\d*" class="ias-amount-input" output-number="trade.pledge_volume">
        <button class="deal-input-dialog-btn" ng-click="trade.useAllPledgeVolume()">全部</button>
        <div class="ias-offset-1-2">
            <label class="ias-control-label">交易所质押比：</label>
            <label class="ias-info-label">{{ trade.conversion_factor | toFixed2 }}</label>
        </div>
    </div>
    <div class="ias-form-group">
        <label class="ias-control-label">可质押量：</label>
        <label class="ias-info-label">{{trade.pledge_available_volume | commafyConvert}}</label>
        <div class="ias-offset-1-2">
            <label class="ias-control-label">已质押量：</label>
            <label class="ias-info-label">{{trade.pledged_volume | commafyConvert}}</label>
        </div>
    </div>
</div>