<div ng-controller="cashPositionManageCtrl">
    <div class="modal fade" id='cashRegulateDlg' role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="top: 200px;width: 450px">
            <div class="modal-content ias-modal-content" draggable>
                <div class="modal-header ias-modal-header">
                    <h5 class="modal-title ias-modal-title" id="myModalLabel">现金头寸重置</h5>
                </div>
                <div class="modal-body ias-modal-body" >
                    <div  class="ias-form-group">
                        <label>账户：</label>
                        <div class="ias-offset-1-3">
                            <div ng-if="!cashRegulateObj.isEdit">
                                <angucomplete-alt placeholder="输入账户名称" pause="100"
                                                  selected-object="accountSelect"
                                                  local-data="accounts"
                                                  search-fields="name"
                                                  title-field="name"
                                                  input-show-fields="name"
                                                  input-class="ias-angucomplete-input"
                                                  match-result-length="12"
                                                  minlength="1"
                                                  auto-match="true"
                                                  focus-first="true">
                                </angucomplete-alt>
                            </div>
                            <label class="ias-info-label" ng-if="cashRegulateObj.isEdit">{{cashRegulateObj.account_name}}</label>
                        </div>
                    </div>
                    <div class="ias-form-group">
                        <label >投资经理：</label>

                        <div class="ias-offset-1-3">
                            <label class="ias-info-label"> {{cashRegulateObj.manager_name}}</label>
                        </div>
                    </div>
                    <div class="ias-form-group">
                        <label >头寸重置日期：</label>
                        <div class="ias-offset-1-3">
                            <input readonly="readonly" type="text" datetimepicker style="width: 200px"
                                   config="timePickerConfig" ng-model="cashRegulateObj.reset_date">
                        </div>
                    </div>
                    <div class="ias-form-group">
                        <label>日终头寸金额(元)：</label>
                        <div class="ias-offset-1-3">
                            <input limit-format-number number-point="2" output-number="cashRegulateObj.daily_amount" style="width: 200px">
                        </div>
                    </div>
                </div>
                <div class="modal-footer ias-modal-footer">
                    <button type="button" class="ias-btn" ng-click="confirm()">确定重置</button><!--
             --><button type="button" class="ias-dismiss-btn" ng-click="dismiss()">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
