<!--html版本1.17.1-->
<div class="modal fade" id="riskSettingDlg" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content ias-modal-content" draggable>
            <div class="modal-header ias-modal-header">
                <h5 class="modal-title ias-modal-title">新建风控规则</h5>
            </div>
            <div class="modal-body ias-modal-body">
                <div class="ias-form-group" ng-show="riskSetting.isError">
                    <label class="ias-warning">{{ riskSetting.errorMsg }}</label>
                </div>
                <div class="ias-form-group">
                    <label class="ias-control-label">控制场景：</label>
                    <btn-li-group btn-group="directionGroup" ng-model="riskSetting.direction" change-btn="setDirection()"></btn-li-group>
                </div>
                <div class="ias-form-group clearfix" style="height: auto">
                    <label class="ias-control-label">投资账户：</label>
                    <ias-multi-select options="accountsData" width="550px"></ias-multi-select>
                </div>
                <div class="ias-form-group">
                    <label class="ias-control-label">开始有效期(含)：</label>
                    <input readonly="readonly" class="ias-date-input"
                           datetimepicker config="timePickerConfig" ng-model="riskSetting.startDate" ng-change="riskDateChange()">
                    <div class="ias-offset-1-2">
                        <label class="ias-control-label">截止有效期(含)：</label>
                        <input readonly="readonly" class="ias-date-input"
                               datetimepicker config="timePickerConfig" ng-model="riskSetting.endDate" ng-change="riskDateChange()">
                    </div>
                </div>
                <div class="ias-form-group">
                    <label class="ias-control-label">条件符合时动作：</label>
                    <ias-select options="riskSetting.matchCondition.options" ng-model="riskSetting.matchCondition.selected" width="128px"></ias-select>
                    <div class="ias-offset-1-2">
                        <label class="ias-control-label">备注：</label>
                        <input ng-model="riskSetting.comment">
                    </div>
                </div>
                <div class="form-group risk-setting-body">
                    <button class="add-rule" ng-click="addRuleCondition()">添加并列条件</button>
                    <table style="width: 100%">
                        <caption class="ias-text-special">条件定义</caption>
                        <thead>
                            <tr style="height: 30px;">
                                <th width="40px" class="ias-text-center">序号</th>
                                <th>指标</th>
                                <th>操作符</th>
                                <th>阈值</th>
                                <th width="53px" class="ias-text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="condition in riskSetting.conditions track by $index">
                                <td class="ias-text-center">{{ $index + 1 }}</td>
                                <td>
                                    <ias-select
                                        options="condition.ruleIndexes"
                                        ng-model="condition.selected"
                                        change-handle="selectConditionIndex(condition)"
                                        width="200px">
                                    </ias-select>
                                </td>
                                <td>
                                    <ias-select
                                        options="condition.operator.options"
                                        ng-model="condition.operator.selected"
                                        width="85px">
                                    </ias-select>
                                </td>
                                <td ng-switch="condition.operandType">
                                    <div ng-switch-when="date">
                                        <input class="ias-date-input" readonly datetimepicker config="timePickerConfig"
                                            ng-model="condition.threshold.selected">
                                    </div>
                                    <div ng-switch-when="enum_single">
                                        <ias-select
                                            options="condition.threshold.options"
                                            ng-model="condition.threshold.selected"
                                            width="100px">
                                        </ias-select>
                                    </div>
                                    <div ng-switch-when="enum_multi">
                                        <ias-multi-select
                                            options="condition.threshold.options"
                                            width="270px">
                                        </ias-multi-select>
                                    </div>
                                    <div ng-switch-default style="vertical-align:middle">
                                        <input style="width: 80px;margin-right:5px;float:left;"
                                               limit-format-number
                                               output-number="condition.threshold.selected">
                                        <span>{{ condition.threshold.unit }}</span>
                                    </div>
                                </td>
                                <td class="ias-text-center"><button class="ias-delete-btn" ng-click="deleteRuleCondition($index)">删除</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 ng-if="filters.length > 0">筛选项：</h5>
                    <div ng-repeat="filter in filters">

                        <div ng-if="filter.support_multi === true" class="rule-list ias-form-group clearfix" style="margin-top: 10px;">
                            <label class="ias-control-label">{{filter.name_cn}}：</label>
                            <ias-multi-select options="filter.value_list" width="550px"></ias-multi-select>
                        </div>
                        <div ng-if="filter.support_multi === false" class="rule-list ias-form-group clearfix" style="margin-top: 10px;">
                            <label class="ias-control-label">{{filter.name_cn}}：</label>
                            <ias-select ng-model="filtersSelected[$index].value_list[$index]" options="filter.value_list" width="550px"></ias-select>
                        </div>
                    </div>
                    <h5 ng-if="other_options.length > 0">其他选项：</h5>
                    <div ng-repeat="other_option in other_options">

                        <div ng-if="other_option.support_multi === true" class="rule-list ias-form-group clearfix" style="margin-top: 10px;">
                            <label class="ias-control-label">{{other_option.name_cn}}：</label>
                            <ias-multi-select options="other_option.value_list" width="550px"></ias-multi-select>
                        </div>
                        <div ng-if="other_option.support_multi === false" class="rule-list ias-form-group clearfix" style="margin-top: 10px;">
                            <label class="ias-control-label">{{other_option.name_cn}}：</label>
                            <ias-select ng-model="otherOptionsSelected[$index].value_list[$index]" options="other_option.value_list" width="550px"></ias-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ias-modal-footer">
                <button ng-click="confirm()">确定</button>
                <button class="ias-dismiss-btn" ng-click="dismiss()">取消</button>
            </div>
        </div>
    </div>
</div>
